h1 {color:red }
body {

    /*background-color: blue; -- allows us to change the color of the whole page*/ 
    background-color: floralwhite;
    

}
.Buttons {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    
    
    font-size: 10ch;
    border: 10px;
    margin:auto;
    list-style:none;
    padding-left: 0;
    
    
   
   
}
.Buttons>li {
    display:inline-block;
    border-style: inset;
    border-radius: 3px;
    background-color: rgb(122, 111, 111);
    
    
}
h1.hab {

    font-family: inherit;
    text-align: center;
}
p.first {   

    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
